$light: #FEAEA5;
$dark: #F25B5C;
$darker: #C14849;
$border: #2F282B;
$term: #232323;
$term-frame: #D7D7D7;
$term-blue: #00aee4;
$yellowish: #FFD065;
$greenish: #53BB96;
$shadow: #EEF2F5;
$gold: #FFD16E;
$bright: #FF6B97;
$mint: #41D69F;
$type: #5A5A5A;
$normal: #A8A878;
$fighting: #C03028;
$flying: #A890F0;
$poison: #A040A0;
$ground: #C03028;
$grass: #78C850;
$ground: #E0C068;
$rock: #B8A038;
$bug: #A8B820;
$ghost: #705898;
$steel: #B8B8D0;
$fire: #F08030;
$water: #6890F0;
$grass: #78C850;
$electric: #F8D030;
$psychic: #F85888;
$ice: #98D8D8;
$dragon: #7038F8;
$dark-type: #705848;
$fairy: #ee99AC;
body {
  background-color: $light;
}
.container {
  background-color: #fff;
}
