{% extends "base.html" %} {% block content %}
<div class="categories col-3 col-s-4">
		<h1>Types</h1>
		<ul>
			{% for type in types %}
				<a href="{{url_for('listType', pokedex_id = type.name )}}">
					<li>
						<span>{{type.name}}</span>
					</li>
				</a>
			{% endfor %}
		</ul>
</div>
	<div class="col-9 col-s-8">
		<div class="inner-frame">
		<div class="inner-content">
		<h1 class="text-center">Delete Pokemon</h1>
		<form action="#" method="post">
			<p class="text-center">Are you sure you want to forget {{pokemon.name}}?</p>
			<a class="cancelDelete" href="{{url_for('listPokemon', pokedex_id = pokemon.type_id ,pokemon_id = pokemon.id )}}">Cancel</a>
			<input type="submit" value="Delete">
		</form>
	</div>
</div>
	</div>

{% endblock %}
